{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}

<div class="card">
    <div class="card-header">
        <div class="float-start" style="height:30px; padding-top:10px;">
            {{ 'vankosoft_org.template.project_issue_tasks_title' | trans( {},'VankoSoftOrg' ) }}
        </div>
        <div class="btn-group float-end">
            {% if( item.id ) %}
                <a class="btn btn-primary btnIssueTask"
                    title="{{ 'vankosoft_org.template.button_create_issue_task' | trans( {},'VankoSoftOrg' ) }}"
                    href="{{ path('vsorg_project_issue_task_create', {'issueId': item.id}) }}"
                    data-taskId="0"
                >
                    {{ 'vankosoft_org.template.button_create_issue_task' | trans( {},'VankoSoftOrg' ) }}
                </a>&nbsp;
            {% endif %}
        </div>
    </div>
    <div class="card-body" style="padding: 0 10px 0 10px;">
        {% if item.tasks | length > 0 %}
            {% include 'Pages/ProjectIssues/partial/issue_tasks_table.html.twig' %}
        {% else %}
            {{ alerts.info( 'vs_application.template.there_are_no_items_to_display' | trans( {},'VSApplicationBundle' ) ) }}
        {% endif %}
    </div>
</div>