<!-- LOGO -->
<div class="navbar-brand-box">
    <!-- Dark Logo-->
    <a href="{{ path( 'app_home' ) }}" class="logo logo-dark">
        <span class="logo-sm">
            <img src="{{ asset( 'build/compas-billing-theme/images/compas-logo-sm.png' ) }}" alt="" height="50">
        </span>
        <span class="logo-lg">
            <img src="{{ asset( 'build/compas-billing-theme/images/compas-logo-lg.png' ) }}" alt="" height="50" style="margin-left: -25px;">
        </span>
    </a>
    <!-- Light Logo-->
    <a href="{{ path( 'app_home' ) }}" class="logo logo-light">
        <span class="logo-sm">
            <img src="{{ asset( 'build/compas-billing-theme/images/compas-logo-sm.png' ) }}" alt="" height="50">
        </span>
        <span class="logo-lg">
            <img src="{{ asset( 'build/compas-billing-theme/images/compas-logo-lg.png' ) }}" alt="" height="50" style="margin-left: -25px;">
        </span>
    </a>
    <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
        <i class="ri-record-circle-line"></i>
    </button>
</div>