<!-- LOGO -->
<div class="navbar-brand-box horizontal-logo">
    <a href="{{ path( 'app_home' ) }}" class="logo logo-dark">
        <span class="logo-sm">
            <img src="{{ asset( applicationIcon ) }}" alt="" height="22">
        </span>
        <span class="logo-lg">
            <img src="{{ asset( applicationIcon ) }}" alt="" height="17">
        </span>
    </a>

    <a href="{{ path( 'app_home' ) }}" class="logo logo-light">
        <span class="logo-sm">
            <img src="{{ asset( applicationIcon ) }}" alt="" height="22">
        </span>
        <span class="logo-lg">
            <img src="{{ asset( applicationIcon ) }}" alt="" height="17">
        </span>
    </a>
</div>