{# Import Macros #}
{% from '@SyliusResource/Macros/actions.html.twig' import create %}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

{% if formErrors is defined %}
    {{ vs_form.errors( formErrors ) }}
{% endif %}

{% if(item.id) %}{% set method = "PUT" %}{% else %}{% set method = "POST" %}{% endif %}
{{ form_start(form, { 'attr': {'class': 'form-horizontal ', 'id': 'FormQuickLink'}, 'method': method }) }}
    
    <div class="form-check form-check-secondary mb-3">
        <input type="checkbox" id="quick_link_form_enabled"
        	name="quick_link_form[enabled]"
            value="{{ item.enabled }}"
            class="form-check-input"
            {% if item.enabled %}checked="checked"{% endif %}
        />
        <label class="form-check-label" for="quick_link_form_enabled">
            {{ 'vs_cms.form.page.published' | trans( {},'VSCmsBundle' ) }}
        </label>
    </div>
    
    <div class="form-group">
        {{ form_label(form.locale, null, {
            'label_attr': {'class': 'form-label'}
            }) 
        }}
        
        {{ form_widget(form.locale, {'attr': {'class': 'form-select'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.linkText, null, {
            'label_attr': {'class': 'form-label'}
            }) 
        }}
        
        {{ form_widget(form.linkText, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.linkPath, null, {
            'label_attr': {'class': 'form-label'}
            }) 
        }}
        
        {{ form_widget(form.linkPath, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="row">&nbsp;</div>
    
    {{ vs_form.buttons( form, metadata is defined ? metadata : null ) }}
{{ form_end(form, {'render_rest': false}) }}