{% extends "@VSApplication/layout.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_application.template.dashboard_section_title' | trans( {},'VSApplicationBundle' ) }}{% endblock %}

{% block pageTitle %}
    <h4 class="pageheader-title">
    	<i class="ri-dashboard-2-line"></i> 
    	{{ 'vs_application.template.dashboard_section_title' | trans( {},'VSApplicationBundle' ) }}
   	</h4>
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="section-block">
                <h5 class="section-title">{{ 'vs_application.template.dashboard_section_title' | trans( {},'VSApplicationBundle' ) }}</h5>
                <p>{{ 'vs_application.template.dashboard_section_description' | trans( {},'VSApplicationBundle' ) }}</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <ul class="nav nav-pills nav-customs nav-danger mb-3" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-toggle="tab" href="#nav-installation" role="tab" aria-selected="true">
                        {{ 'vs_application.template.dashboard_installation_title' | trans( {},'VSApplicationBundle' ) }}
                    </a>
                </li>
                {% if app_environment == 'dev' %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#nav-test-widgets" role="tab" aria-selected="true">
                            {{ 'vs_application.template.dashboard_test_widgets_title' | trans( {},'VSApplicationBundle' ) }}
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#nav-test-charts" role="tab" aria-selected="true">
                            {{ 'vs_application.template.dashboard_test_charts_title' | trans( {},'VSApplicationBundle' ) }}
                        </a>
                    </li>
                {% endif %}
            </ul>
            
            <div class="tab-content">
                <div class="tab-pane active show" id="nav-installation" role="tabpanel">
                    <div class="card">
                        <div class="card-body">
                            {% include '@VSApplication/Pages/Dashboard/partial/installation.html.twig' %}
                        </div>
                    </div>
                </div>
                {% if app_environment == 'dev' %}
                    <div class="tab-pane" id="nav-test-widgets" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                {% include '@VSApplication/Pages/Dashboard/partial/test_widgets.html.twig' %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="nav-test-charts" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                {% include '@VSApplication/Pages/Dashboard/partial/test_charts.html.twig' %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block head_styles %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/dashboard', null, 'VelzonTheme' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}

    {{ encore_entry_script_tags( 'js/dashboard', null, 'VelzonTheme' ) }}
{% endblock %}
