{% extends "@VSApplication/layout-login.html.twig" %}

{% block head_styles %}
	{{ parent() }}
	
	<style>
		.btn-facebook {
		    color: #fff;
		    background-color: #3c73df;
		    border-color: #3c73df;
		}
		.btn-twitter {
		    color: #fff;
		    background-color: #2caeff;
		    border-color: #2caeff;
		}
		.text-secondary {
		    color: #ff407b !important;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card mt-4">

                <div class="card-body p-4">
                    <div class="text-center mt-2">
                        <h5 class="text-primary">{{ 'vs_users.form.registration.button_register' | trans( {},'VSUsersBundle' ) }}</h5>
                        {#
                        <p class="text-muted">
                            {{ 'vs_application.form.login.sign_in_to_continue' | trans( {},'VSApplicationBundle' ) }} 
                            {{ applicationTitle | trans( {},'VSApplicationBundle' ) }}
                        </p>
                        #}
                    </div>
                    
                    <div class="p-2 mt-4">
                        {{ form_start(form, { 'attr': {'class': 'login-form '} }) }}
            
                            <div class="form-group">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-lg', 'placeholder': form.email.vars.label|trans }}) }}
                            </div>
                            <div class="form-group">                
                                {{ form_widget(form.username, {'attr': {'class': 'form-control form-control-lg', 'placeholder': form.username.vars.label|trans}}) }}
                            </div>
                            <div class="form-group">                
                                {{ form_widget(form.plain_password.first, {'attr': {'class': 'form-control form-control-lg', 'placeholder': form.plain_password.first.vars.label|trans}}) }}
                            </div>
                            <div class="form-group">                
                                {{ form_widget(form.plain_password.second, {'attr': {'class': 'form-control form-control-lg', 'placeholder': form.plain_password.second.vars.label|trans}}) }}
                            </div>
                            
                            {# I Dont Know If User Info Fields Should Present in Registration Form
                             ################################################################################
                            <div class="form-group row pt-0">
                            	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            		<hr />
                            	</div>
                            </div>
                            <div class="form-group">                
                                {{ form_widget(form.firstName, {'attr': {'class': 'form-control form-control-lg', 'placeholder': form.firstName.vars.label|trans }}) }}
                            </div>
                            <div class="form-group">                
                                {{ form_widget(form.lastName, {'attr': {'class': 'form-control form-control-lg', 'placeholder': form.lastName.vars.label|trans }}) }}
                            </div>
                            <div class="form-group row pt-0">
                            	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            		<hr />
                            	</div>
                            </div>
                            #}
                            
                            <div class="form-group">
                                <label class="custom-control custom-checkbox">
                                	<input type="checkbox"
                                		class="custom-control-input"
                                		required="required"
                                		id="registration_form_agreeTerms"
                                		name="registration_form[agreeTerms]"
                                    />
                                    <span class="custom-control-label">
                                        {{ 'vs_users.form.registration.agreement_text' | trans( {},'VSUsersBundle' ) }}
                                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#terms-and-conditions-modal">
                                            {{ 'vs_users.form.registration.terms_and_conditions' | trans( {},'VSUsersBundle' ) }}
                                        </a>
                                    </span>
                                </label>
                            </div>
                            
                            <div class="form-group pt-2">
                            	{{ form_widget(form.btnRgister, {'attr': {'class': 'btn btn-block btn-primary'}}) }}
                            </div>
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
    </div>
    <!-- end row -->
{% endblock %}
