{% extends 'knp_menu.html.twig' %}

{% block root %}

    {% set hasChilds = false %}
    {% for parentItem in item.children %}
        {% if parentItem is not empty %}
            {% set hasChilds = true %}
        {% endif %}
    {% endfor %}
    
    {% if hasChilds %}
        <li class="menu-title"><span data-key="t-menu">{{ 'vs_application.menu.users_subscriptions' | trans( {},'VSApplicationBundle' ) }}</span></li>
    {% endif %}
    
    {% for parentItem in item.children %}
        {% if( parentItem.displayed and parentItem.hasChildren ) %}
        
        	{# Detect Current Parent #}
            {% set isCurrentParent = false %}
            {% if ( parentItem.hasChildren ) %}
                {% for childItem in parentItem.children %}
                    {% if childItem.isCurrent %}
                        {% set isCurrentParent = true %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        
            <li class="nav-item ">
                <a class="nav-link menu-link {% if isCurrentParent %}active{% endif %}"
                    data-bs-toggle="collapse"
                    role="button"
                    {% if isCurrentParent %}aria-expanded="true"{% else %}aria-expanded="false"{% endif %}
                    data-bs-target="#submenu-users-subscriptions-{{ loop.index }}"
                    aria-controls="submenu-users-subscriptions-{{ loop.index }}"
                    href="{{ parentItem.uri }}"
                 >
                    {#
                    <i data-feather="{{ parentItem.attributes.iconClass }}" class="icon-dual"></i> 
                    #}
                    <i class="{{ parentItem.attributes.iconClass }}"></i> 
                    <span>{{ parentItem.name }}</span>
                {% if(parentItem.hasChildren) %}
                    <!--  <span class="menu-arrow arrow_carrot-right"></span> -->
                {% endif %}
                </a>
                {% if(parentItem.hasChildren) %}
                    <div id="submenu-users-subscriptions-{{ loop.index }}" class="collapse submenu" style="">
                        <ul class="nav flex-column">
                            {% for childItem in parentItem.children %}
                                {% if( childItem.displayed ) %}
                                    <li class="nav-item">
                                        <a class="nav-link main-menu-button {% if childItem.isCurrent %}main-menu-current-item{% endif %}" href="{{ childItem.uri }}">
                                            {{ childItem.name }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    
    {% if hasChilds %}
        <li class="nav-divider"><hr /></li>
    {% endif %}
    
{% endblock %}
