{% extends "@VSApplication/layout-login.html.twig" %}

{% block head_styles %}
	{{ parent() }}
	
	<style>
		.text-secondary {
		    color: #ff407b !important;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card mt-4">

                <div class="card-body p-4">
                    <div class="text-center mt-2">
                        <h5 class="text-primary">{{ 'vs_application.form.login.forgot_password_question' | trans( {},'VSApplicationBundle' ) }}</h5>
                        <p class="text-muted">
                            {{ 'vs_users.template.forgot_password_header_title' | trans( {},'VSUsersBundle' ) }}
                        </p>
                    </div>
                    
                    <div class="p-2 mt-4">
                    	{{ form_start(form, { 'attr': {'class': 'login-form '} }) }}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('forgot_password') }}" />
                            
                            <p>{{ 'vs_users.template.forgot_password_form_header' | trans( {},'VSUsersBundle' ) }}</p>
                            <div class="form-group">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-lg', 'autocomplete': 'off', 'placeholder': form.email.vars.label|trans }}) }}
                            </div>
                            
                            <div class="form-group pt-1">
                                {{ form_widget(form.btnSubmit, {'attr': {'class': 'btn btn-block btn-primary btn-xl'}}) }}
                           	</div>
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->

            <div class="mt-4 text-center">
                <p class="mb-0">
                    {{ 'vs_users.template.reset_password_i_remember' | trans( {},'VSUsersBundle' ) }} 
                    <a href="{{ path( 'vs_application_login' ) }}" class="fw-semibold text-primary text-decoration-underline"> 
                        {{ 'vs_users.template.reset_password_click_here' | trans( {},'VSUsersBundle' ) }} 
                    </a> 
                </p>
            </div>

        </div>
    </div>
    <!-- end row -->
{% endblock %}
